<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <link rel="stylesheet" href="/static/css/index_style.css" media="screen">

    <!----===== Boxicons  CSS ===== -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">


    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3KPBQER1K9"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-3KPBQER1K9');
    </script>

    <title>about</title>
</head>

<body>
    <div class="app-container">
        <div class="app-content">
            <div class="app-content-header">
                <h1 class="app-content-headerText">Edo Tensei</h1>

                <div class="app-content-actions-wrapper">
                    <a href="/" class="nav-item">Home</a>
                    <!-- <a href="#" class="nav-item">Animations</a> -->

                    <!-- <button class="mode-switch" title="Switch Theme">
                        <svg class="moon" fill="none" stroke="currentColor" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="2" width="24" height="24" viewBox="0 0 24 24">
                            <defs></defs>
                            <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
                        </svg>
                    </button> -->

                </div>
            </div>
            <div class="app-content-actions">
                <!-- <h1 class="app-content-headerText1">Animations</h1> -->

                <div class="app-content-actions-wrapper">
                    <!-- STUFF -->
                </div>
            </div>
            <div
                style="display: flex; flex-direction: column;align-content: center; justify-content: center; align-items: center;">

                <h1 class="app-content-headerText">About</h1>
                <h1 class="app-content-headerText" style="margin-top: 50px; font-size: 20px;">my name is mohamd johmani</h1>
                
                <h1 class="app-content-headerText" style="font-size: 20px;">in 2023 i gradient from IT and i was ready to start my one creer</h1>
            </div>
        </div>
    </div>
</body>

</html>