<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/static/css/app.css" />
    <link rel="stylesheet" href="/static/css/pragmataGirl.css" />
    <link rel="stylesheet" href="/static/css/popup.css" />
    <link rel="stylesheet" href="/static/css/components/animations/processing-animation.css" />
    <link rel="icon" href="/static/images/favicon.png">

    <!----===== icons  CSS ===== -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3KPBQER1K9"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-3KPBQER1K9');
    </script>

    <script>
        const url = "{{URL}}";
    </script>

    <title>pragmata girl</title>
</head>

<body>
    <div class="app-container">
        <div class="app-content">

            <header>

                <a href="/" class="tool-switch" id="back" title="back to home"
                    style="margin-left: 0; text-decoration: none; font-size: var(--h1-size);">
                    <i class="tool fa-regular fa-circle-left fa-fade"></i>
                </a>

                <div style="display: flex; gap: 10px;">

                    <div class="header-content-actions-wrapper">

                        <button class="tool-switch" id="importButton" title="import image">
                            <i class="tool fa-regular fa-image"></i>
                        </button>

                        <button class="tool-switch" id="pencilButton" title="draw stuff on screen">
                            <i class="tool  bx bx-paint icon"></i>
                        </button>

                        <button class="tool-switch" id="textButton" title="add text">
                            <i class="tool bx bx-text icon"></i>
                        </button>

                        <button class="tool-switch" id="moveButton" title="move item">
                            <i class="tool bx bx-move icon"></i>
                        </button>

                    </div>

                    <div class="header-content-actions-wrapper">
                        <button class="tool-switch" id="applyButton" title="submitt and generate video"
                            style="margin: 0px;">
                            <i class="tool bx bx-rocket icon"></i>
                        </button>
                    </div>

                </div>
            </header>

            <div class="main-content">
                <div class="draw-area-wrapper">

                    <input type="file" id="fileInput" accept="image/*" style="display: none;">
                    <canvas class="veiw-port" id="veiw-port"></canvas>

                </div>

                <div class="app-content-actions-wrapper">

                    <div class="properties" id="pencilProperties">

                        <div class="list-veiw" style="height: 100px;">
                            <div class="prop">
                                <a class="text">color</a>
                                <input class="color" type="color" name="colorPicker" id="colorPicker">
                            </div>
                            <div class="prop">
                                <a class="text">size</a>
                                <input class="slider" id="pencil-size-slider" type="range" min="1" max="100"
                                    value="4" />
                                <div class="value" id="pencil-size-value">4</div>
                            </div>
                        </div>
                    </div>

                    <div class="properties" id="textProperties">

                        <div class="list-veiw">

                            <textarea class="inputField" id="inputText" name="inputText" rows="3" cols="0"></textarea>
                            <div class="prop">
                                <a class="text">color</a>
                                <input class="color" type="color" id="textColorPicker1" name="colorPicker">
                                <input class="color" type="color" id="textColorPicker2" name="colorPicker">
                                <input class="checkbox" type="checkbox" id="checkBoxGradient" name="checkBoxGradient" />
                                <label class="text" for="checkBoxGradient"><span></span>gradient</label>
                            </div>

                            <div class="prop" id="textSizeSlider">
                                <div class="text">size</div>
                                <input type="range" id="text-size-slider" min="1" max="780" value="72" />
                                <div class="value" id="text-size-value">72</div>
                            </div>

                            <select class="dropList" id="fontSelector">
                                <option value="Arial">Arial</option>
                                <option value="Times New Roman">Times New Roman</option>
                                <option value="Courier New">Courier New</option>
                                <option value="Verdana">Verdana</option>
                                <option value="Comic Sans MS">Comic Sans MS</option>
                                <option value="Calibri">Calibri</option>
                                <option value="Tahoma">Tahoma</option>
                                <option value="Trebuchet MS">Trebuchet MS</option>
                                <option value="Georgia">Georgia</option>
                                <option value="Garamond">Garamond</option>
                                <option value="Brush Script MT">Brush Script MT</option>
                            </select>
                        </div>
                    </div>

                    <div class="properties active" id="layer">
                        <div class="title">item list</div>
                        <ul class="list-veiw" id="textContainer">

                        </ul>
                    </div>
                </div>


            </div>

            <div class="popup" id="popup">

                <a href="#" class="cancelButton" id="cancelButton"> <i class="bx bx-x icon"></i> </a>

                
                <div class="videoSetting" id="videoSetting">

                    <select class="dropList" id="resolution">
                        <option value="144">144p</option>
                        <option value="240">240p</option>
                        <option value="360">360p</option>
                        <option value="480">480p</option>
                        <option value="720">720p</option>
                        <option value="1080">1080p</option>
                    </select>

                    <button class="send-button" id="send-button" title="import image"> Continue </button>

                </div>
                
                <div class="processing-container" id="processing-container">
                    <div class="processing-animation">
                        <div class="loop cubes">
                            <div class="item cubes"></div>
                            <div class="item cubes"></div>
                            <div class="item cubes"></div>
                            <div class="item cubes"></div>
                            <div class="item cubes"></div>
                            <div class="item cubes"></div>
                        </div>
                    </div>
                    <h2>PROCESSING</h2>
                    <p>usually it takes 1-3 minutes!</p>
                </div>
                
                <a href="#" class="downLoad" id="downLoad">
                    <i class="bx bx-download icon"></i>
                </a>

            </div>
        </div>
    </div>
</body>
<script src="/static/js/Vector2.js"></script>
<script src="/static/js/utilities.js"></script>
<script src="/static/js/CanvasObject.js"></script>
<script src="/static/js/Element.js"></script>
<script src="/static/js/SketchTool.js"></script>
<script src="/static/js/TextTool.js"></script>
<script src="/static/js/SelectionTool.js"></script>
<script src="/static/js/importTool.js"></script>
<script src="/static/js/canvas.js"></script>
<script src="/static/js/UIEvents.js"></script>
<script src="/static/js/Server.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</html>